/*minify*/
@media only screen and (orientation: portrait) and (min-width: 1025px), only screen and (orientation: landscape) and (min-width: 1280px) {
        .map-panel[_ngcontent-qsy-c30] {
            width: 400px;
        }
        .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-400px);
        }
        .map-panel-inner[_ngcontent-qsy-c30] {
            width: 400px;
        }
        .map-panel[_ngcontent-qsy-c30],
        .map-panel-inner[_ngcontent-qsy-c30] {
            transition: width 250ms ease-in-out, transform 250ms ease-in-out;
        }
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30],
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            width: 600px;
        }
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-600px);
        }
        /*Alvar*/
        .map-item-list {width:700px;}
        .cover-container[_ngcontent-qsy-c62] {width:375px;}
        [_nghot-qsy-c36] {left: 135%;}
    }

/*fin mimf*/

    @media only screen and (orientation: portrait) and (min-width: 600px) and (max-width: 1024px) and (orientation: landscape),
        only screen and (orientation: landscape) and (min-width: 960px) and (max-width: 1279px) and (orientation: landscape) {
        .map-panel[_ngcontent-qsy-c30] {
            width: 400px;
        }
        .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-400px);
        }
        .map-panel-inner[_ngcontent-qsy-c30] {
            width: 400px;
        }
        .map-panel[_ngcontent-qsy-c30],
        .map-panel-inner[_ngcontent-qsy-c30] {
            transition: width 250ms ease-in-out, transform 250ms ease-in-out;
        }
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30],
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            width: 500px;
        }
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-500px);
        }
    }
    @media only screen and (orientation: portrait) and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait),
        only screen and (orientation: landscape) and (min-width: 960px) and (max-width: 1279px) and (orientation: portrait) {
        .map-layout[_ngcontent-qsy-c30] {
            flex-direction: column;
        }
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] {
            height: 100%;
        }
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-plan[_ngcontent-qsy-c30] {
            opacity: 0;
            height: 0;
            flex: 0 0 0;
        }
        .map-panel[_ngcontent-qsy-c30] {
            order: 2;
            flex: 1 1 100%;
            overflow: hidden;
        }
        .map-plan[_ngcontent-qsy-c30] {
            order: 1;
            flex: 0 0 33%;
        }
    }
    @media only screen and (orientation: portrait) and (max-width: 599px), only screen and (orientation: landscape) and (max-width: 959px) {
        .map-panel[_ngcontent-qsy-c30] {
            flex: 1 0 auto;
            height: 100%;
        }
        .map-layout[_ngcontent-qsy-c30] {
            flex-direction: column;
        }
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-plan[_ngcontent-qsy-c30] {
            opacity: 0;
            height: 0;
            flex: 0 0 0;
        }
        .map-plan[_ngcontent-qsy-c30] {
            position: absolute;
            z-index: -10;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            height: 100%;
            width: 100%;
            transition: opacity 350ms ease-out;
        }
        .map-plan.show[_ngcontent-qsy-c30] {
            z-index: 1;
            opacity: 1;
        }
        .map-layout[_ngcontent-qsy-c30]:not(.is-detail) [mat-fab][_ngcontent-qsy-c30] {
            display: initial;
        }
    }

    @media only screen and (orientation:portrait) and (min-width:1025px),
    only screen and (orientation:landscape) and (min-width:1280px) {
        .map-panel[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-400px)
        }

        .map-panel-inner[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel-inner[_ngcontent-qsy-c30],
        .map-panel[_ngcontent-qsy-c30] {
            transition: width 250ms ease-in-out, transform 250ms ease-in-out
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30],
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            width: 600px
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-600px)
        }

        .map-item-list {
            width: 700px
        }

        .cover-container[_ngcontent-qsy-c62] {
            width: 375px
        }

        [_nghot-qsy-c36] {
            left: 135%
        }
    }

    @media only screen and (orientation:portrait) and (min-width:1025px),
    only screen and (orientation:landscape) and (min-width:1280px) {
        .map-panel[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-400px)
        }

        .map-panel-inner[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel-inner[_ngcontent-qsy-c30],
        .map-panel[_ngcontent-qsy-c30] {
            transition: width 250ms ease-in-out, transform 250ms ease-in-out
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30],
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            width: 600px
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-600px)
        }

        .map-item-list {
            width: 700px
        }

        .cover-container[_ngcontent-qsy-c62] {
            width: 375px
        }

        [_nghot-qsy-c36] {
            left: 135%
        }
    }

    @media only screen and (orientation:portrait) and (min-width:1025px),
    only screen and (orientation:landscape) and (min-width:1280px) {
        .map-panel[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-400px)
        }

        .map-panel-inner[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel-inner[_ngcontent-qsy-c30],
        .map-panel[_ngcontent-qsy-c30] {
            transition: width 250ms ease-in-out, transform 250ms ease-in-out
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30],
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            width: 600px
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-600px)
        }

        .map-item-list {
            width: 700px
        }

        .cover-container[_ngcontent-qsy-c62] {
            width: 375px
        }

        [_nghot-qsy-c36] {
            left: 135%
        }
    }

    @media only screen and (orientation:portrait) and (min-width:1025px),
    only screen and (orientation:landscape) and (min-width:1280px) {
        .map-panel[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-400px)
        }

        .map-panel-inner[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel-inner[_ngcontent-qsy-c30],
        .map-panel[_ngcontent-qsy-c30] {
            transition: width 250ms ease-in-out, transform 250ms ease-in-out
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30],
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            width: 600px
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-600px)
        }

        .map-item-list {
            width: 700px
        }

        .cover-container[_ngcontent-qsy-c62] {
            width: 375px
        }

        [_nghot-qsy-c36] {
            left: 135%
        }
    }

    @media only screen and (orientation:portrait) and (min-width:1025px),
    only screen and (orientation:landscape) and (min-width:1280px) {
        .map-panel[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-400px)
        }

        .map-panel-inner[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel-inner[_ngcontent-qsy-c30],
        .map-panel[_ngcontent-qsy-c30] {
            transition: width 250ms ease-in-out, transform 250ms ease-in-out
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30],
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            width: 600px
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-600px)
        }

        .map-item-list {
            width: 700px
        }

        .cover-container[_ngcontent-qsy-c62] {
            width: 375px
        }

        [_nghot-qsy-c36] {
            left: 135%
        }
    }



    @media only screen and (orientation:portrait) and (min-width:1025px),
    only screen and (orientation:landscape) and (min-width:1280px) {
        .map-panel[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-400px)
        }

        .map-panel-inner[_ngcontent-qsy-c30] {
            width: 400px
        }

        .map-panel-inner[_ngcontent-qsy-c30],
        .map-panel[_ngcontent-qsy-c30] {
            transition: width 250ms ease-in-out, transform 250ms ease-in-out
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30],
        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            width: 600px
        }

        .map-layout.is-detail[_ngcontent-qsy-c30] .map-panel.hide[_ngcontent-qsy-c30] .map-panel-inner[_ngcontent-qsy-c30] {
            transform: translateX(-600px)
        }

        .map-item-list {
            width: 700px
        }

        .cover-container[_ngcontent-qsy-c62] {
            width: 375px
        }

        [_nghot-qsy-c36] {
            left: 135%
        }
    }